streamlit
torch
torchvision
albumentations
timm
scikit-learn
opencv-python
Pillow
imagehash
scipy
pandas
ultralytics
numpy
fpdf
flask
flask-cors
torch
torchvision
opencv-python
Pillow
numpy
reportlab
ultralytics
accelerate
transformers
timm
datasets
huggingface-hub
sentence-transformers
requests